<div class="job" [ngClass]="{'featured': job.featured}">
    <div class="info">
        <div class="image">
            <img src="assets/{{job.logo}}" alt="job">
        </div>
        <div class="detail">
            <div class="top">
                <div class="company">{{job.company}}</div>
                @if(job.new) {
                    <div class="label new">NEW!</div>
                }
                @if (job.featured) {
                    <div class="label featured">FEATURED</div>
                }
            </div>
            <div class="middle">
                <div class="position">{{job.position}}</div>
            </div>
            <div class="bottom">
                <div class="text postedAt">{{job.postedAt}}</div>
                <div class="divide"></div>
                <div class="text contract">{{job.contract}}</div>
                <div class="divide"></div>
                <div class="text location">{{job.location}}</div>
            </div>
        </div>
    </div>
    <div class="tags">
        <div class="tag" (click)="filter({role: job.role})">{{job.role}}</div>
        <div class="tag" (click)="filter({level: job.level})">{{job.level}}</div>
        @for (language of job.languages; track language) {
            <div class="tag" (click)="filter({languages: [language]})">{{language}}</div>
        }
        @for (tool of job.tools; track tool) {
            <div class="tag" (click)="filter({tools: [tool]})">{{tool}}</div>
        }
    </div>
</div>