.job-list {
    background-color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;

    .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -2rem;
        
        .hide{
            opacity: 0;
        }
        .jobs {
            display: flex;
            flex-direction: column;

            &>*+* {
                margin-top: 1.25rem;
            }

        }
    }
}


@media (max-width: 640px) {
    main {
        .content {
            .jobs {
                display: flex;
                flex-direction: column;
                &>*+* {
                    margin-top: 50px;
                }
        
        
            }
        }
    }
}