<div class="filter">
    <div class="tags">
        @if (queries$ | async; as queries) {
            @if (queries.level) {
                <div class="tag">
                    <div class="title">{{queries.level}}</div>
                    <div class="close">X</div>
                </div>
            }
            @if (queries.role) {
                <div class="tag">
                    <div class="title">{{queries.role}}</div>
                    <div class="close">X</div>
                </div>
            }
            @for(query of queries.tools; track query) {
                <div class="tag">
                    <div class="title">{{query}}</div>
                    <div class="close">X</div>
                </div>
            }
            @for(query of queries.languages; track query) {
                <div class="tag">
                    <div class="title">{{query}}</div>
                    <div class="close">X</div>
                </div>
            }
        }
    </div>
    <div class="clear" (click)="clearFilter()">Clear</div>
</div>