main {
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow-y: auto;

    job-listings-header {
        flex: 0.2;
    }
    job-listings-job-list {
        flex: 0.8;
    }
}