/* You can add global styles to this file, and also import other style files */
:root {
    --mobile: 375px;
    --desktop: 1440px;

    --primary:  hsl(180, 29%, 50%);
    --light: hsl(180, 52%, 96%);
    --filter-bg: hsl(180, 31%, 95%);
    --dark: hsl(180, 8%, 52%);
    --darker: hsl(180, 14%, 20%);
}


@font-face {
    font-family: League Spartan;
    src: url(assets/fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: League Spartan, 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--light);
}

